<div id="form-wrapper">
    <app-granny-loader *ngIf="loading" [loading]="true"></app-granny-loader>
    <div id="contact-form" *ngIf="!loading">
        <h2>{{isEditing? "Edit Contact" : "Add New Contact"}}</h2>
        <div>First Name</div>
        <input (keyup.enter)="onSubmit()" type="text" [(ngModel)]="contact.firstname">
        <div>Last Name</div>
        <input (keyup.enter)="onSubmit()" type="text" [(ngModel)]="contact.lastname">
        <div>Phone</div>
        <input (keyup.enter)="onSubmit()" type="text" [(ngModel)]="contact.phone">
        <div>Email</div>
        <input (keyup.enter)="onSubmit()" type="text" [(ngModel)]="contact.email">
        <div id="actions">
            <button mat-raised-button (click)="backToList()">
                Cancel
            </button>
            <button id="submit-btn" mat-raised-button (click)="onSubmit()">
                Submit
            </button>
        </div>
    </div>
</div>