<div id="main-content">
    <app-granny-loader *ngIf="!contacts.length" [loading]="loading" [onPromptClicked]="addContact.bind(this)"
        [promptText]="contactsService.hasHadContacts ? secondPromptText : firstPromptText"></app-granny-loader>
    <div *ngIf="contacts.length" id="list-container">
        <button mat-raised-button (click)="addContact()">
            <mat-icon>add</mat-icon>
            New Contact
        </button>
        <div>
            <app-contact-entry *ngFor="let contact of contactsService.contacts" [contact]="contact">
            </app-contact-entry>
        </div>
    </div>
</div>