<div [ngClass]="{shrink: contactStatus == 'Deleted', expand: contact.id < 0}" class="contact-entry-wrapper">
    <div class="contact-entry" (click)="onEntryClicked()">
        <span [@contactStatus]="contactStatus" class="status-indicator">
            <span class="contact-status-text">{{contactStatus}}</span>
            <span *ngIf="contactStatus == 'Deleting'">
                <mat-spinner [diameter]='20' [strokeWidth]='4'></mat-spinner>
            </span>
        </span>
        <span class="new-contact-indicator" [ngClass]="{'is-adding': contact.id < 0}">
            <span class="contact-status-text">Adding <strong>{{contact.firstname}}</strong></span>
            <span>
                <mat-spinner [diameter]='20' [strokeWidth]='4'></mat-spinner>
            </span>
        </span>
        <span class="patch-contact-indicator" [ngClass]="{'is-patching': contact.isPatching}">
            <span class="contact-status-text">Updating</span>
            <span>
                <mat-spinner [diameter]='20' [strokeWidth]='4'></mat-spinner>
            </span>
        </span>
        <div class="contact-info"> {{contact.firstname}} </div>
        <div class="contact-info">{{contact.lastname}}</div>
        <div class="contact-info">{{contact.firstname}}</div>
        <div class="contact-info">{{contact.lastname}}</div>
        <div class="contact-info">{{contact.lastname}}</div>
        <div class="contact-actions">
            <button mat-button (click)="editClicked($event)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="deleteClicked($event)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>