#form-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1100px;
}

#contact-details {
  padding: 8px;
}

#contact-info-rows div {
  margin-bottom: 20px;
}

#actions {
  margin-top: 32px;
}

#delete-btn,
#edit-btn {
  margin-left: 12px;
}
