<div id="form-wrapper">
    <app-granny-loader *ngIf="loading" [loading]="true"></app-granny-loader>
    <div id="contact-details" *ngIf="!loading">
        <h2>Details</h2>
        <div id="contact-info-rows">
            <div>First Name: {{contact.firstname}}</div>
            <div>Last Name: {{contact.lastname}}</div>
            <div>Phone: {{contact.phone}}</div>
            <div>Email: {{contact.email}}</div>
        </div>
        <div id="actions">
            <button mat-raised-button (click)="backToList()">
                Back
            </button>
            <button id="edit-btn" mat-raised-button (click)="editClicked()">
                Edit
            </button>
            <button id="delete-btn" mat-raised-button (click)="deleteClicked()">
                Delete
            </button>
        </div>
    </div>
</div>